*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	/* border:2px solid black; */
}
.whole_border{
	margin-top:500px;
	border-style:solid;
	border-width:5px;
	height:200vh;
	border-color:#0d7377;
}
.admission{
	margin:50px 0px 0px 50px;
	font-size:22px;
	font-family:arial;
	color:#0d7377;
}
.document,.reservation,.three{
	margin:20px 0px 0px 50px;
	font-size:17px;
	color: #7d8584;
}
.list{
	margin:20px 0px 0px 50px;
	color:#0d7377;
	font-size:18px;
	text-align: center;
}
.twocopies{
	margin:20px 0px 0px 50px;
	font-family:arial;
	font-size:15px;
	color: #495e5c;
}
.documents{
	margin:15px 0px 0px 60px;
	color:#495e5c;
	line-height: 40px;
	font-size:14px;
	font-family: arial;
}
.along{
	margin:20px 0px 0px 50px;
	color:#495e5c;
	font-size:14px;
	font-family: arial;
}
.design{
	margin:40px 0px 0px 600px;
}
ol,ul{
	margin:70px 0px 0px 65px;
	color:#495e5c;
	font-size:18px;
	font-family: arial;
	line-height: 36px;
}
ul{
	margin:-470px 0px 0px 580px;
	list-style: none;
}
.three_hundred{
	margin:46px 0px 0px 0px;
}
.number,.fees,.rs{
	margin:-510px 0px 0px 40px;
	font-size:22px;
	font-family:arial;
	color: #0d7377;
}
.fees{
	margin:-25px 0px 0px 130px;
}
.rs{
	margin:-25px 0px 0px 580px;
}
.end1{
	margin-left:25%;
}
.no{
	margin-left: 70px;
}
















              
.nav li{color:white;} 
 
 .nav {
    margin-top:30px;
    margin-left:35px;
   width: 95%;
   height: 10vh;
   background: #0d7377;
      
      box-shadow: 0px 8px 16px 0px rgba(83, 83, 83, 0.527);
   /* position:absolute/; */
 }
 .nav ul {
   display: flex;
   justify-content: space-around;
 }
 .nav a {
   text-decoration: none;
   font-size: 16px;
   margin: 18px;
   font-family: "Dubai Medium";
 }
 ul li {
   list-style: none;
 }
 
 .nav i {
   font-size: 12px;
   color:white;
 }
 .pm i {
   margin-top: 30px;
 }
 /* .pm a {
   font-size: 40px;
 } */
 .about .abtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   /* margin: 20px; */
   padding: 18px 16px;
   background-color: inherit;
   font-family: "Dubai Medium";
   margin: 0;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #0d7377;
   min-width: 150px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 2;
 }
 
 .dropdown-content a {
   float: none;
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
   background-color: #5fb8bb;
 }
 
 .about:hover .dropdown-content {
   display: block;
 }

 
.img1{
  background:linear-gradient(rgba(0, 0, 0, 0.811),rgba(0, 0, 0, 0.864)),url("google.jpg");
   background-repeat:no-repeat;
   width:89%;
   height:94%; 
  display:flex;
  justify-content: space-around;
     /* position:f;   */
   /* margin-left:100px;
   margin-right:100px; */
   color: #FFFFFF;
   font-size:30px;
   font-family:Segoe UI;
   background-position:center;
   overflow:hidden;
   margin-left:80px;
   margin-top:100px;
   margin-bottom:50px;
   background-size: cover; 
   /* overflow:scroll; */
}

p.head{
margin-top:85px;margin-bottom: 20px;
color:white;
border-bottom:0px solid black;

}

div .image-map1:hover{
margin-top:10px;
background-color: white;
}
.map{
 
  margin-top:140px;
  margin-left: 10px;
  z-index:1;
  /* color:black; */
}
/* #img-map:hover{
background-color:#2e6ad1 ;
height:1000px;
margin-top:10px;
} */
#our{
  margin-top:95px;
  font-weight:500;
  margin-left:10px;
}
#img-map:hover{
background-color: #4876c7;}


.img-map:hover{
top: -15px;
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.part2{
font-size:20px;
margin:50px;
font-family: 'Segoe UI';
margin-top:130px;
margin-left:-6px;
}
.p2{padding-left:20px;
font-size:19px;
color:grey;
font-family: 'Dubai';
border-left:2px solid rgb(0, 123, 255);}
.p3{
  font-size:22px;
  margin:0px;
  margin-top: 35px;
  
}
.bt a{
  color: white;
  text-decoration:none;
}
.bt{
  width:130px;
  height:50px;
  margin-top:-15px;
  background-color: blue;
  color: azure;

  border: none;
  font-size:16px;
  margin-left: -10px;
}
.bt:hover{
  background-color: black;
  color: white;
}
.in{width:400px;
  height:50px;
  font-size:17px;
  border:none; 
  background-color:rgba(118, 113, 113, 0.356);
  margin-top:20px;
  padding:15px;
  color:white;
}
.icons{
  /* width: 50px;
  height: 50px;
  background-color:#0059b3; */
  color: white;
  display: flex;
  padding: 15px;
  margin-top:10px;
  margin-left:-20px;

 
}
.icons a:hover{
  color: white;
  /* color: #0059b3; */
}
.pin{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: calibri;
}
.email{
  margin-top: 20px;
  text-decoration: none;
  color:white;
  font-family: calibri;
}
.lin{
  margin-right:15px;
  color:azure;
  /* background-color: rgb(43, 43, 197); */
  /* height: 2px; */
   margin-top: 5px; 
   margin-left: 5px;
}
/* .submit{
  font-size:18px;
} */
#linkedin:hover{
  background-color:#2e6ad1 ;
  height:38px;
  margin-top:10px;
}#mail:hover{
  background-color:#b62020;
  height:35px;
  margin-top:10px;
}#instagram:hover{
  background-color: #e62d99;
  height:38px;
  margin-top:10px;}
  #facebook:hover{
    background-color: #4876c7;
    height:37px;
    margin-top:10px;
  }
#twitter:hover{
  background-color: #356dd0;
  height:37px;
  margin-top:10px;
}
  .search-container{
    margin-top:0px;
    
  }
  /* .image-map1{
    margin-bottom:20px;
  } */
 .fom a{
  /* width:100px;
  height:3vh; */
   color:white;
   font-size:17px;
   /* background:red; */
   margin:10px 0px 0px 10px;
   padding-bottom:40px;
 }
 .fom a:hover{
      text-decoration:underline;
      color:aqua;
 }
  #phone{
      font-size: 16px;
  }
